:root {
    --controls-bg: #ececf4;
    --controls-btn-hover: #dfdfdf;
    --controls-btn-active: #c7c5ff;
    --btn-width: 40px;
    --btn-height: 40px;
    --btn-img-width: 25px;
    --btn-img-height: 25px;
    --primary-color: #1c274c;
    --secondary-color: #969696;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-size: 16px;
    font-family: 'monospace', sans-serif;
}


.outer {
    margin: 80px;

}

#svgdisplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.controls {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--controls-bg);
    width: max-content;
    border-radius: 10px;
    padding: 2px;
    margin: 20px;
    box-shadow: 0px 2px 5px 0px #a5a5a5;   
}

.top-bar {
    top: 0;
    
    left: 50%;
    transform: translateX(-50%);

}

.right-bar {
    position: relative;
    right: 0;
    top: 0;
    flex-direction: column;
    margin-bottom: 0;
}

.right-bar:has(#home) {
    padding: 0;
}

#home {
    margin: 0;
    padding: 0;
    width: calc(var(--btn-width) + 8px);
    height: calc(var(--btn-height) + 8px);
}

.right-panel {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.zoom-controls-bar {
    bottom: 0;
    left: 0;
    flex-direction: row;
    padding: 0;

}

#zoom-out {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

#zoom-in {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
}

#zoom-reset {
    border-radius: 0;
    margin: 0;
    width: calc(2*var(--btn-width));
    font-size: 14px;
}

.separator {
    background-color: var(--secondary-color);
}

.separator.vsep {
    width: 90%;
    height: 1px;
    margin: 2px;
}

.controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--btn-width);
    height: var(--btn-height);
    margin: 2px;
    background-color: var(--controls-bg);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}


.controls button img {
    width: var(--btn-img-width);
    height: var(--btn-img-height);
}
.controls button:hover {
    background-color: var(--controls-btn-hover)
}

.controls button:active {
    background-color: var(--controls-btn-active);
    color: white;
}

.left-bar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
}

.menu-btn {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    position: relative;
}

#menu-btn {
    margin: 0;
    padding: 0;
}

.controls button.active {
    background-color: var(--controls-btn-active);

}



.menu {
    position: relative;
    margin: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    background-color: var(--controls-bg);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.menu button {
    background-color: var(--controls-bg);
    border-color: rgba(0, 0, 0, 0);
    width: 100%;
    align-items: center;
    justify-content: left;

    img {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.input-box {
    position: fixed;
    bottom: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: 20px;
}

.input-box input {
    width: 100%;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: var(--secondary-color);
    padding: 4px;
}

.input-box label {
    margin: 5px;
}

